<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <!--配置Spring的配置文件-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring.xml</param-value>
  </context-param>
  <!--ContextLoaderListener触发Spring启动-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

<!--  DispatcherServlet触发Spring启动-->
<!--  1.配置contextConfigLocation，即Spring配置文件-->
<!--  2.配置contextAttribute，即ContextLoaderListener创建的WebApplicationContext对象-->
<!--  ContextLoaderListener和DispatcherServlet不用重复配置，将导致Spring重复启动，如果需要配置，则需要在DispatcherServlet中配置contextAttribute-->
<!--  <servlet>-->
<!--    <servlet-name>sprint-ano-xml-demo-web</servlet-name>-->
<!--    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
<!--    <init-param>-->
<!--      <param-name>contextConfigLocation</param-name>-->
<!--      <param-value>classpath:spring-web.xml</param-value>-->
<!--    </init-param>-->
<!--    <init-param>-->
<!--      <param-name>contextAttribute</param-name>-->
<!--      <param-value>org.springframework.web.context.WebApplicationContext.ROOT</param-value>-->
<!--    </init-param>-->
<!--    <load-on-startup>1</load-on-startup>-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>sprint-ano-xml-demo-web</servlet-name>-->
<!--    <url-pattern>/</url-pattern>-->
<!--  </servlet-mapping>-->

</web-app>
